.h1 {
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

.logo-img {
  background-color: rgb(207, 24, 0);
}

.part {
  height: 10em;
  /* margin:auto;
  display: block;
  align-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis";
  font-size: 3em;
  background-color: rgb(172, 172, 172);
}

.h-text {
  font-size: 1em;
}
