.h1 {
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

.navbar,
.navbar-brand {
  font-family: "Dosis";
  font-size: 1.4em;
}

.logo-img {
  background-color: rgb(207, 24, 0);
}

.part {
  height: 5em;
  align-items: center;
  /* font-weight: bold; */
  font-family: "Dosis";
  font-size: 3em;
  background-color: rgb(172, 172, 172);
}
