<!-- This forms the homepage! -->
{% extends "base.html" %} {% block content%}

<!-- The Logo -->
<div class="container-fluid">
  <div class="container-fluid text-center logo-img p-3">
    <img src="../static/images/logo.png" alt="Logo" class="img-fluid" />
  </div>
  <hr />
  <!-- Main Content -->
  <div class="container-fluid text-center part p-2">
    <span class="h-text p-2"> Analyze and Visualize Stock Data! </span>
    <img src="../static/images/img1.jpeg" class="img-fluid p-2" alt="[IMAGE]" />
  </div>
  <hr />
  <div class="container-fluid text-center part p-2">
    <span class="h-text p-2"> Simple yet Efficient! </span>
    <img
      src="../static/images/img2.jpeg"
      class="img-fluid p-2"
      alt="[IMAGE2]"
    />
  </div>
  <hr />
  <div class="container-fluid text-center part p-2">
    <span class="h-text p-2"> Stay ahead of others with our predictions! </span>
  </div>
</div>
{% endblock %}
