<!-- This forms the homepage! -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/style.css" />
    <title>BrainStock</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid mx-2">
        <a class="navbar-brand" href="#">BrainStock</a>
        <div id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Search for Stocks</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid text-center logo-img p-3">
      <img src="../logo.png" alt="" class="img-fluid" />
    </div>
    <div class="container-fluid text-center part">
      Analyze and Visualize Stock Data!
    </div>
    <div class="container-fluid text-center part">
      Just Search For Your Required Stock And Get Results
    </div>
  </body>
</html>
