{% extends "base.html" %} {% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" />
{% endblock %} {% block title %} Search For Stocks {% endblock %} {%block
content %}

<div class="container-fluid bg-dark">
  <div class="py-5 text-center text-white">
    <h1 class="display-4 py-2">Enter Stock Ticker Symbol</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form method="POST">
          <input
            type="text"
            id="stock_name"
            name="stock_name"
            placeholder="Enter Stock Name"
            class="py-3 fs-4 m-0"
          />
          <button class="fs-4 btn btn-primary mx-2" type="submit">
            Get Data
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row p-2 text-white">
    <span style="font-size: 3em">
      Don't know where to invest? <br />
      Reading some news should get you going!
    </span>
  </div>
  <div class="container-fluid">
    {% for i in range(0, 20) %}
    <div class="card py-3 my-2 container-fluid border-dark">
      <div class="card-title row">
        <span class="col-11">{{ dates[i] }}</span>
        <a href="{{ links[i] }}" class="col fs-6">Read More</a>
      </div>
      <div class="card-body">
        <p class="card-text fs-2">{{ titles[i] }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock%}
