{% extends "base.html" %} {% block title %} The Stock Data! {% endblock %}
{%block content %}

<div class="bg-dark">
  <div class="text-center">
    <h1
      class="display-6 fw-bold py-2 mb-3 text-white animate__animated animate__bounceInDown"
    >
      {{ details['Company'] }} {% if has_data %}, {{ details['Sector'] }}, {{
      details['Industry']}} {% endif %}
    </h1>
    <span class="py-3">{{ graph|safe }}</span>
  </div>

  <div class="px-4 py-5 text-center text-white">
    <p class="fs-5 mb-4">
      <span class="fs-1"> About the Stock </span> <br />
      <span> {{ desc }} </span>
    </p>
  </div>

  <div class="text-white text-center fs-2">
    Read some news about the company!
  </div>

  <div class="container-fluid py-2">
    {% if has_data %} {% for i in range(0, 10) %}
    <div class="card py-3 my-3 container-fluid border-dark text-black">
      <div class="card-title row">
        <span class="col-11">{{ dates[i] }}</span>
        <a
          href="{{ links[i] }}"
          class="col fs-6 text-decoration-none"
          target="_blank"
          >Read More</a
        >
      </div>
      <div class="card-body">
        <p class="card-text fs-2">{{ titles[i] }}</p>
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="text-center text-white">Sorry, No News Found!</div>
    {% endif %}
  </div>
</div>

{% endblock %}
